//
   Created by qhyang on 2017/2/21.


ul(
    bsRipple
)
    li
        a(href="#") Home
    li
        a(href="#") Earth
    li
        a(href="#") Music of the day
    li
        a(href="#") Strike!
    li
        a(href="#") Pokemon Star