//
   Created by qhyang on 2017/3/9.


div.carousel-container(
    threeImageTransition
    "[images]"="images"
    "(click)"="navigateTo('/earth')"
    "[style.backgroundColor]"="backgroundColor"
)
//div.instructions click and drag to control the animation