//
   Created by qhyang on 2017/3/16.


div.container.background(
    "[drawingBoard]"="index"
    "[imgUrl]"="imgUrl"
    "(onDrew)"="onDrew($event)"
    "[style.backgroundColor]"="backgroundColor"
)