
:host{
  background-image: url(../../assets/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 992px) {
  :host {
    background-position: 10%;
    background-size: 90px 60px;
  }
}
@media (max-width: 768px) {
  :host {
    background-size: 60px 40px;
  }
}
.tool-pane {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;

}
.tool-pane__button {
  display: inline-block;
  color: #fff;
}
.item__text {
  vertical-align: middle;
}
.lang-lbl {
  vertical-align: text-top;
}
.lang-lbl:after {
  top: -12.8px;
}
.mdl-menu .lang-lbl:after {
  top: -18px;
}
.svg-ic_20px-dims {
  width: 20px;
  height: 20px;
}
.item__icon_with-text {
  margin-right: 5px;
}
