//
   Created by qhyang on 2017/3/15.


button#language-switch.language-switch.mdl-button.mdl-js-button.mdl-js-ripple-effect
    span.lang-xs.lang-lbl(lang="zh")

ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu.mdl-js-ripple-effect(for="language-switch")
    li.mdl-menu__item
        span.lang-xs.lang-lbl(lang="zh")
    li.mdl-menu__item
        span.lang-xs.lang-lbl(lang="en")
    li.mdl-menu__item
        span.lang-xs.lang-lbl(lang="ja")
    li.mdl-menu__item
        span.lang-xs.lang-lbl(lang="ko")