//
   Created by qhyang on 2017/3/20.


.sky
    .container.container__stars
        each star in new Array(50)
            .star
    .container.container__moon
        .moon
    .sea
        each wave in new Array(5)
            .wave
                .container.container__sparkles
                    each sparkle in new Array(25)
                        .sparkle
