//
   Created by qhyang on 2017/3/21.


div.waterfall-container(
    waterfall
    "[backgroundColor]"="'#000'"
    "[frontColor]"="'rgb(69, 90, 100)'"
)
    canvas.waterfall
    div.emma.flex
        div
