
select {
  border-radius: 0;
}
legend {
  margin-bottom: 0;
  color: inherit;
  font-size: medium;
}
label {
  margin-bottom: 0;
  font-weight: normal;
}
.control-label {
  text-align: center;
}
.mdl-grid {
  display: block;
}
.mdl-grid>label {
  text-align: center;
}
@media (max-width: 839px) {
  .mdl-grid label {
    padding-right: 0;
    text-align: left;
  }
}
