//
   Created by qhyang on 2017/2/21.


nav
    ul.ripple
        li
            a(href="#") Home
        li
            a(href="#") About
        li
            a(href="#") Services
        li
            a(href="#") Contact