//
   Created by qhyang on 2017/3/7.


div.grid-stack-item.mdl-card.mdl-shadow--2dp(
    *ngFor="let widget of widgets; let i = index"
    "[attr.data-index]"="i"
    "[attr.data-gs-x]"="widget.x"
    "[attr.data-gs-y]"="widget.y"
    "[attr.data-gs-width]"="widget.width"
    "[attr.data-gs-height]"="widget.height"
    widget-frame
    "[index]"="i"
    "[widgetType]"="widget.type"
    "[style.z-index]"="widget.zIndex"
    "(onClose)"="onClose($event)"
)
