//
   Created by qhyang on 2017/3/7.


div.grid-stack-item(
    *ngFor="let widget of widgets"
    "[attr.data-gs-x]"="widget.x"
    "[attr.data-gs-y]"="widget.y"
    "[attr.data-gs-width]"="widget.width"
    "[attr.data-gs-height]"="widget.height"
)
    div.grid-stack-item-handle
    div.grid-stack-item-content(
        *ngComponentOutlet="widget.type | widgetComponent; ngModuleFactory: widgetsModule;"
    )
