//
   Created by qhyang on 2017/3/6.


nav#left-nav.two-step
    -
        var items = [
            "Home",
            "Earth (experimental showcase)",
            "Looking for some music (in development)",
            "Strike! (in development)",
            "Pokemon Star (in development)"
        ]
    each item in items
        a(href="javascript:;")= item
