//
   Created by qhyang on 2017/3/6.


nav#left-nav.two-step
    -
        var items = [
            "Home",
            "The Breath of the Earth",
            "Looking for some music",
            "Strike! (In development)",
            "Pokemon Star (In development)"
        ]
    each item in items
        a(href="javascript:;")= item
