//
   Created by qhyang on 2017/3/12.


div.grid-stack-item-content
    div(
        *ngComponentOutlet="widgetType | widgetComponent; ngModuleFactory: widgetsModule;"
    )
div.grid-stack-item-actions.mdl-card__actions.mdl-card--border
