//
   Created by qhyang on 2017/3/12.

div.grid-stack-item-handle
div.grid-stack-item-content.mdl-card__actions.mdl-card--border
    div(
        *ngComponentOutlet="widgetType | widgetComponent; ngModuleFactory: widgetsModule;"
    )
