//
   Created by qhyang on 2017/3/12.

div.grid-stack-item-handle
    div.toolbar__button-group
        button.toolbar__button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect([mdMenuTriggerFor]="widgetMenu")
            svg.svg-ic_widgets_15px-dims(style="fill:#bbb")
                use(xlink:href="#ic_more_vert_24px")
        md-menu(#widgetMenu="mdMenu")
            li(
                (click)="openSettings()"
                md-menu-item
            )
                svg.svg-ic_widgets_20px-dims
                    use(xlink:href="#ic_settings_24px")
                span.item__text(i18n="Option text|the text of an option to open a widget settings dialog") Settings
            li(
                (click)="enterManageMode()"
                md-menu-item
            )
                svg.svg-ic_widgets_20px-dims
                    use(xlink:href="#ic_open_with_24px")
                span.item__text(i18n="Option text|the text of an option to enter the wigdets-managing mode of a specific widget") Manage
        button.toolbar__button.mdl-button.mdl-js-button.mdl-button--icon.mdl-js-ripple-effect(
            *ngIf="widgetType !== 'header'"
            "(click)"="close(index)"
        )
            svg.svg-ic_widgets_15px-dims(style="fill:#bbb")
                use(xlink:href="#ic_close_24px")
div.grid-stack-item-content.mdl-card__actions.mdl-card--border
    div(*ngComponentOutlet="widgetType | widgetComponent; ngModuleFactory: widgetsModule;")
