.grid-stack-item-handle {
  height: 20px;
  background-color: #f8f8f8;
  cursor: move;
}
:host-context(.grid-stack.static) .grid-stack-item-handle {
  cursor: default;
}
:host > .grid-stack-item-content {
  left: 0;
  top: 20px;
  right: 0;
  background-color: #fff;
  overflow: visible;
}
.toolbar__button-group {
  float: right;
  margin-right: 2px;
}
.toolbar__button {
  width: 20px;
  height: 20px;
  min-width: 20px;
  font-size: 0;
}
:host-context(.grid-stack.static) .toolbar__button:last-child {
  display: none;
}
[md-menu-item] svg {
  fill: rgba(0, 0, 0, 0.54);
}
.svg-ic_widgets_15px-dims {
  width: 15px;
  height: 15px;
}
.svg-ic_widgets_20px-dims {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

